@font-face {
  font-family: 'SFProDisplay';
  src: local('SFProDisplay'), url(./fonts/SFProDisplay.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: SFProDisplay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  line-height: 16px;
}

.App {
  background: #F2F2F2;
  height: 100vh;
}

.content-wrapper {
  width: 851px;
  margin: 0 auto;
}

/* Typography */

.light-text {
  font-family: SFProDisplay;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.text-orange {
  color: #FFA03D;
}

.text-red {
  color: #FF6448;
}
.text-small {
  font-size: 12px;
  line-height: 14px;
}

.heading {
  font-family: SFProDisplay;
  font-size: 16px;
  line-height: 36px;
  color: #222222;
  margin: 0;
  padding: 12px 0;
}

.no-opacity {
  opacity: 1!important;;
}

.no-padding {
  padding: 0!important;
}
/* Typography end */

/* Logo and header */
.logo-container {
  text-align: left;
  padding-top: 48px;
}

.logo {
  height: 24px;
  width: 96px;
}

.message-bar {
  display: flex;
  margin: 16px 0;
}

/* Logo and header end */

/* Request card */

hr {
  border: 1px solid rgba(34, 34, 34, 0.05);
  margin-top: 16px;
  margin-bottom: 16px;
}

.request-card-wrapper {
  background: #FFFFFF;
  border-radius: 8px;
}

.request-card-header {
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
  /* padding: 20px 16px; */
  display: flex;
}

.request-service-logo {
    height: 36px;
    padding: 12px 12px 12px 16px;
}

.request-card-header-title {
  font-family: SFProDisplay;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.request-card-content {
  display: flex;
}

.request-card {
  background: #FFFFFF;
  border: 1px solid rgba(34, 34, 34, 0.05);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(34, 34, 34, 0.05);
  border-radius: 8px;
}

.request-section {
  padding: 16px;
  flex: 1;
}

.card-row {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 16px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
}

.card-inner-row {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 16px;
}

.row-data {
  flex: 1;
  font-size: 14px;
  line-height: 16px;
}

.row-label {
  max-width: 152px;
  width: 152px;
}

.approval-card {
  border-left: 1px solid rgba(34, 34, 34, 0.05);
  padding: 16px;
  flex: 1;
  max-width: 326px;
}

/* Request card end */

.usage-message {
  margin-top: 14px;
}